@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Ocorreu um erro</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<p>
    Tente novamente mais tarde ou <a href="/">volte para a página inicial</a>.
</p>

@if (Model.ShowRequestId)
{
    <p class="text-muted">
        Código do erro: @Model.RequestId
    </p>
}