@model ProductControl.Models.Product

<h1>@ViewData["Title"]</h1>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="@(Model.IdProduct == 0 ? "Create" : "Edit")" asp-controller="Product" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="IdProduct" />

    <div class="mb-3">
        <label asp-for="Produto" class="form-label"></label>
        <input asp-for="Produto" class="form-control" />
        <span asp-validation-for="Produto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Quantidade" class="form-label"></label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DataFabricacao" class="form-label"></label>
        <input asp-for="DataFabricacao" class="form-control" type="date" />
        <span asp-validation-for="DataFabricacao" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Validade" class="form-label"></label>
        <input asp-for="Validade" type="date" class="form-control" />
        <span asp-validation-for="Validade" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
